
mixin author(authorName)
  - var author = contents.authors[authorName + '.json'];
  span.Author-name
    if author
      a(href=author.metadata.url)= author.metadata.name
    else
      = authorName
